<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1063940900445-dmlvc7qfp5aenc7881tjsbd4u1tu0g5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063940900445-dmlvc7qfp5aenc7881tjsbd4u1tu0g5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAEpzcwFivrSxJhliabVp2ykEnyCOeSD0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1063940900445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianlin.Novesta</string>
	<key>PROJECT_ID</key>
	<string>novesta-da8f8</string>
	<key>STORAGE_BUCKET</key>
	<string>novesta-da8f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063940900445:ios:a6b3ad87b21093ec</string>
	<key>DATABASE_URL</key>
	<string>https://novesta-da8f8.firebaseio.com</string>
</dict>
</plist>